<!DOCTYPE html>
<html>
<head>
  <title>VendorApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div class="connect-intuit">
  <% if !session[:token] %>
    <ipp:connectToIntuit></ipp:connectToIntuit>
  <% end %>
  </div>
  <p class="notice"><%= notice %></p>
  <%= yield %>
</div>
<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

<script>
    intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '<%= authenticate_vendors_url %>'});
</script>

</body>
</html>
